

<div cdkDropList class="song-list" (cdkDropListDropped)="drop($event)">
  <div class="song-box" *ngFor="let song of songs" cdkDrag>

      {{song.name}}::{{song.album}}::{{this.showPC ? song.plays : ""}}
  </div>
</div>

<h2></h2>

<button (click)="toggleSPC()">Cheat</button>

<button (click)="refresh()">Refresh</button>

<h2></h2>

<button (click)="score()">Score</button>
<div>
  <b>
    <h1 *ngIf="showScore; then thenBlock else elseBlock"></h1>
    <ng-template #thenBlock>{{listScore}}</ng-template>
    <ng-template #elseBlock>??</ng-template>
  </b>
</div>

